.contact {
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: clamp(0.875rem, 0.5rem + 2vw, 1.25rem);

    p {
        display: inline-block;
        margin: 0 auto;
        font-weight: 400;
        text-shadow: 0 0 2px rgb(1, 22, 40);
        font-size: 1em;
    }

    &-inner {
        position: relative;
        display: flex;
    }

    svg {
        margin-right: 0.25rem;
        position: relative;
        top: 0.125rem;
        width: 1.25em;
        height: 1.25em;
        filter: invert(1);
    }
}
