/* MODAL STUFF */
:root {
    --scrollbar-width: 0px;
}

.modal {
    // display: none;
    // position: fixed;
    display: block;
    position: fixed;
    z-index: 1;
    padding: 100px 2rem 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.25s;

    &-content {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 980px;
        animation-name: fade;
        animation-duration: 0.6s;

        @media only screen and (max-width: 700px) {
            width: 100%;
        }
    }

    --button-color: #eee;
    --button-border: 4px solid var(--button-color);

    // .prev,
    // .next {
    //     position: fixed;
    //     top: 50%;
    //     width: 40px;
    //     height: 40px;
    //     background: transparent;
    //     border: none;
    //     border-bottom: var(--button-border);
    //     cursor: pointer;
    //     transition-property: border-color, background-color;
    //     transition-duration: 0.125s;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     z-index: 10;

    //     &:hover {
    //         border-color: var(--c-link);

    //         @media (max-width: 1160px) {
    //             background-color: var(--c-link);
    //         }
    //     }

    //     &::after {
    //         width: 15px;
    //         height: 15px;
    //         display: block;
    //         border-bottom: 2px solid var(--c-bg-main);
    //         position: relative;

    //         @media (max-width: 1160px) {
    //             content: "";
    //         }
    //     }
    // }

    // .prev {
    //     left: 40px;
    //     transform: translate(50%, -50%) rotate(45deg);
    //     border-left: var(--button-border);

    //     &::after {
    //         border-left: 2px solid var(--c-bg-main);
    //         transform: translate(2px, -2px);
    //     }

    //     @media (max-width: 1160px) {
    //         left: 0;
    //         border-radius: 50%;
    //         border: none;
    //         background-color: var(--button-color);
    //         box-shadow: 0 0 10px -3px black;
    //     }
    // }

    // .next {
    //     right: 40px;
    //     transform: translate(-50%, -50%) rotate(-45deg);
    //     border-right: var(--button-border);

    //     &::after {
    //         border-right: 2px solid var(--c-bg-main);
    //         transform: translate(-2px, -2px);
    //     }

    //     @media (max-width: 1160px) {
    //         right: 0;
    //         border-radius: 50%;
    //         border: none;
    //         background-color: var(--button-color);
    //         box-shadow: 0 0 10px -3px black;
    //     }
    // }

    .prev,
    .next {
        position: fixed;
        top: 50%;
        width: 60px;
        height: 60px;
        background: transparent;
        border: none;
        // border-bottom: var(--button-border);
        cursor: pointer;
        transition-property: border-color, background-color;
        transition-duration: 0.125s;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        overflow: hidden;

        &:hover {
            &::after {
                border-color: var(--c-link);

                @media (max-width: 1160px) {
                    border-color: var(--c-bg-main);
                }
            }

            &::before {
                @media (max-width: 1160px) {
                    background-color: var(--c-link);
                }
            }

            @media (max-width: 1160px) {
                // background-color: var(--c-link);
            }
        }

        &::after {
            content: "";
            width: 28px;
            height: 28px;
            display: block;
            background-color: transparent;
            transition: border-color 0.25s;

            border-right: 2px solid white;
            border-bottom: 2px solid white;

            @media (max-width: 1160px) {
                width: 16px;
                height: 16px;
                border-color: var(--c-bg-main);
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-radius: 50%;
            box-shadow: 0 0 10px -3px black;
            transition: background-color 0.25s;

            @media (max-width: 1160px) {
                background-color: white;
            }
        }
    }

    .prev {
        left: 40px;

        &::after {
            transform: translateX(20%) rotate(135deg);
        }

        @media (max-width: 1160px) {
            left: 20px;
        }
    }

    .next {
        right: calc(40px + var(--scrollbar-width));

        &::after {
            transform: translateX(-20%) rotate(-45deg);
        }

        @media (max-width: 1160px) {
            right: calc(20px + var(--scrollbar-width));
        }
    }

    .loading-spinner {
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        transform: translate(-100%, -100%);
        border: 5px solid #fff;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background: transparent;
    border: none;

    &:hover,
    &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
