<div class="intro">
    <div class="container">
        <h1>Nick Karch | Frontend web developer</h1>

        <p class="sub-h">Hi! I'm a Toronto-based web developer, and you've reached the right place to see some of the projects I've built.</p>

        <include src="./partials/tech-stack.html"></include>


        <div class="contact">
            <div class="contact-inner">
                <include src="./assets/img/linkedin.svg"></include>
                <p>Say "hello" or "hi" on <a href="https://www.linkedin.com/in/nickkarch/">LinkedIn</a>.</p>
            </div>
        </div>
    </div>
</div>