<div class="intro">
    <div class="container">
        <h1>Nick Karch is a frontend web developer</h1>

        <p class="sub-h">Hai, I'm Nick. I made some websites. I'd sure like to make some more.</p>

        <include src="./partials/tech-stack.html"></include>


        <div class="contact">
            <div class="contact-inner">
                <include src="./assets/img/linkedin.svg"></include>
                <p>Say "hello" or "hi" on <a href="https://www.linkedin.com/in/nickkarch/">LinkedIn</a>.</p>
            </div>
        </div>
    </div>
</div>