<div
     class="project"
     data-src="/assets/img/projects/full/{{project.image}}-lg.jpg"
     data-srcset="/assets/img/projects/full/{{project.image}}-sm.jpg 364w, /assets/img/projects/full/{{project.image}}-md.jpg 672w, /assets/img/projects/full/{{project.image}}-lg.jpg 980w">

    <h4 class="h">{{project.title}}</h4>

    <a
       href="/assets/img/projects/full/{{project.image}}-lg.jpg"
       aria-label="View full image"
       class="img-link">
        <img
             src="/assets/img/projects/thumbs/{{project.image}}-thumb-sm.jpg"
             srcset="/assets/img/projects/thumbs/{{project.image}}-thumb-sm.jpg 360w, /assets/img/projects/thumbs/{{project.image}}-thumb-lg.jpg 500w"
             sizes="(min-width: 1280px) 342px, 100vw"
             width="720"
             height="460"
             alt="{{project.alt}}"
             loading="lazy" />
    </a>

    <p>{{ project.description }}</p>

    <div class="project-links">
        <a href="{{project.link}}">{{ project.liveSite ? 'Live Site' : 'Archived'}}</a>
    </div>
</div>