@import "./styles/typography.scss";
@import "./styles/images.scss";
@import "./styles/tech-stack.scss";
@import "./styles/contact.scss";
@import "./styles/projects.scss";
@import "./styles/modal.scss";

:root {
    --c-white: #e7e7f4;
    --c-text: var(--c-white);
    --c-link: #a8c7f0;
    --c-link-h: var(--c-white);
    --c-bg-main: #0c3457;
    --c-bg-dk: #052541;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    background: var(--c-bg-main);
    font-weight: 300;
    color: var(--c-text);
    font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
}

a {
    color: var(--c-link);
    font-weight: 400;
    transition: color 0.25s;

    &:hover {
        color: var(--c-link-h);
    }
}

.container {
    max-width: 1280px;
    padding: 1.5rem 1rem;
    margin: auto;

    @media screen and (min-width: 520px) {
        padding: 2rem 3rem;
    }
}
